.git
.github
Containerfile*
.containerignore
skel/README.md
node_modules
**/node_modules/
**/.yarn/

contrib/nvim-plugins/*/doc
contrib/nvim-plugins/*/test
contrib/nvim-plugins/*/tests
contrib/nvim-plugins/telescope.nvim/data/memes

wip/
