[include]
  path = ~/.config/git/config

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[gpg]
  program = /usr/local/bin/l7-gpg-proxy

[init]
  defaultBranch = main
[pull]
  rebase = true
[core]
  autocrlf = false
  filemode = false

[advice]
  detachedHead = true
[color]
  ui = auto
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[http]
  postBuffer = 1048576000
[rebase]
  autostash = true
  instructionFormat = (%an) %s

[alias]
  a    = add
  b    = branch
  bd   = branch -d
  bD   = branch -D
  ba   = branch -av
  br   = branch -avr
  bm   = branch -m
  bM   = branch -M
  cl   = clone
  co   = checkout
  cob  = checkout -b
  cm   = !git commit --date="$(date --utc +%Y-%m-%dT%H:%M:%S%z)"
  cma  = !git commit --date="$(date --utc +%Y-%m-%dT%H:%M:%S%z)" --amend
  cp   = cherry-pick
  cpa  = cherry-pick --abort
  cpc  = cherry-pick --continue
  d    = diff
  dc   = diff --cached
  dno  = diff --name-only
  dns  = diff --name-status
  f    = fetch
  wt   = worktree
  wta  = worktree add
  worktree-add-branch = "!add_and_log() { git worktree add \"${1}\" \"${2}\" && echo \"pushd '${1}'\" ; }; add_and_log \"${SRC_DIR}/.worktrees/$(basename \"$(pwd)\")/${1}\""
  wtab = worktree-add-branch
  wtl  = worktree list
  wtp  = worktree prune
  wtr  = worktree remove
  l    = log
  lol  = log --oneline
  m    = merge
  ma   = merge --abort
  mc   = merge --continue
  mffo = merge --ff-only
  p    = push
  ph   = push
  phf  = push --force-with-lease
  pl   = pull
  r    = remote
  ra   = remote add
  rb   = rebase
  rba  = rebase --abort
  rbc  = rebase --continue
  rbi  = rebase -i
  rbs  = rebase --skip
  rl   = reflog
  ru   = remote -v update
  rr   = remote remove
  rv   = remote -v
  rt   = reset
  rth  = reset --hard
  sh   = show
  sm   = submodule
  sma  = submodule add
  smu  = submodule update
  smuc   = submodule update --checkout
  smuic  = submodule update --init --checkout
  smuir  = submodule update --init --recursive
  smuirc = submodule update --init --checkout --recursive
  st   = status
  t    = tag
  td   = tag -d
  tf   = tag -f
  tv   = tag -v
  tree = log --graph --decorate --oneline
  rs      = restore
  rss     = restore --staged
  unstage = restore --staged
  us      = unstage
  wipe    = checkout HEAD  # use with path to clean file
